<html>
<head>
    <meta charset="utf-8">
    <title>Добавление интеграции</title>
    <link rel="shortcut icon" href="/files/logo.jpg"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/spinners/spinner/three-quarters.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/tree-xml-formatter/css/simpleXML.css">
</head>
<body>
<div class="container">
    <div class="card text-center form-card">
        <div class="card-header form-header">
            Добавление интеграции
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Название системы</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputUrl" class="col-sm-2 col-form-label">URL системы</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUrl">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPort" class="col-sm-2 col-form-label">Порт</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPort">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputFrequency" class="col-sm-2 col-form-label">Частота обращения (в мс)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputFrequency">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <a href="/integration" class="btn btn-primary form-btn">Подтвердить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</html>